<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="css/Eventos.css"/>
    </head>
    <body>
        <div class="container">
            <div class="navbar">
                <div class="logo">
                    <img class="icon" src="images/SeekPng.com_ticket-png_109712.png">
                    <h2>ITicket</h2>
                </div>
                <div class="menu">
                    <ul>
                        <li><a href="">Ver Eventos</a></li>
                        <li><a href="">About</a></li>
                    </ul>
                </div>
            </div>
            <div class="table_events">
                <table class="list">
                    <tr>
                        <th scope="col">Evento </th>
                        <th scope="col">Artista </th>
                        <th scope="col">Costo </th>
                        <th scope="col">Lugar </th>
                        <th scope="col">Capacidad Máximo Personas </th>
                    </tr>
                </table>
            </div>
        </div>
    </body>
</html>
